@using Task_2.Models
@model Cars
@{
    ViewData["Title"] = "Detail";
}
<h1>Detail</h1>
<h1>@Model.Id</h1>
<h1>@Model.Brand</h1>
<h1>@Model.Average</h1>
<h1>@Model.Model</h1>
<h1>@Model.Price</h1>
<h1>@Model.Year</h1>

